@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.gradient_btn {
  background: linear-gradient(
    103.91deg,
    #00026b 21.01%,
    rgba(233, 106, 21, 0.8) 100%
  );
}

.pink_gradient {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 123px;
  height: 123px;
  border-radius: 50%;

  background: #030000;
  filter: blur(150px);
}

.blue_gradient {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 123px;
  height: 123px;
  border-radius: 50%;

  background: #d64113;
  filter: blur(150px);
}

.gradient-border {
  background: linear-gradient(
    168.82deg,
    #eae7fa 1.7%,
    rgba(84, 6, 228, 0) 27.12%,
    rgba(20, 27, 216, 0) 61.28%,
    #d64113 99.52%
  );
}

html, body {
    overflow: hidden;
    background-image:url("./assets/mars.jpg") ;
}

.container {
    background-image: url("./assets/mars.jpg");
}

.sexyButton {
    color: white;
    background-color: black;
    align-items: center;
    margin-top: 8px;
    width: 90%;
    height: 180px;
    border-radius: 12px;
    transition: 0.4s all;
}

.sexyButton2 {
    color: black;
    background-color: rgba(255,255,255,0.5);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    transition: 0.4s all;
}

.sexyButton:hover {
    background-color: rgba(255,255,255,1);
    transform: scale(1.05);
}
.sexyButton2:hover {
    background-color: rgba(255,255,255,1);
    transform: scale(1.05);
}